/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

@-webkit-keyframes rotate-right-text {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-right-text {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes rotate-left-text {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate-left-text {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotate-clock {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
            transform: translate(0, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}
@keyframes rotate-clock {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
            transform: translate(0, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}
@-webkit-keyframes scroll-circle {
  0% {
    top: -10%;
  }
  100% {
    top: 90%;
  }
}
@keyframes scroll-circle {
  0% {
    top: -10%;
  }
  100% {
    top: 90%;
  }
}
@-webkit-keyframes move-caret-right {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 10px;
  }
  50.01% {
    background-position-x: -10px;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes move-caret-right {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 10px;
  }
  50.01% {
    background-position-x: -10px;
  }
  100% {
    background-position-x: 0;
  }
}
@-webkit-keyframes move-caret-left {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: -10px;
  }
  50.01% {
    background-position-x: 10px;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes move-caret-left {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: -10px;
  }
  50.01% {
    background-position-x: 10px;
  }
  100% {
    background-position-x: 0;
  }
}
html {
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3020833333vw;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 0.5208333333vw;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #443311;
  line-height: 1;
}

a,
button {
  cursor: pointer;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  padding: 0 3rem;
  position: absolute;
  top: 20px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 0 14rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    top: 50px;
  }
}
.header__logo {
  width: 110px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 220px;
  }
}
.header__link {
  padding: 10px 0;
}

.footer__back-button {
  margin-inline: auto;
  margin-bottom: 3rem;
  cursor: pointer;
  display: block;
  color: #dc3c36;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(18px, 1.8rem, 30px);
}
@media screen and (min-width: 768px) {
  .footer__back-button {
    margin-bottom: 4rem;
    font-size: clamp(3rem, 3rem, 30px);
  }
}
.footer__inner {
  padding-top: 6.5rem;
  padding-bottom: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.8rem;
  position: relative;
  overflow: hidden;
}
.footer__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200%;
  aspect-ratio: 1;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  background-color: #dc3c36;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding-top: 13rem;
    padding-bottom: 1.6rem;
    gap: 9.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__inner {
    padding-top: 16rem;
    padding-bottom: 3rem;
    gap: 18.1rem;
  }
}
.footer__link {
  padding: 10px 0;
}
.footer__logo-image {
  width: 13rem;
  aspect-ratio: 130/20;
}
@media screen and (min-width: 768px) {
  .footer__logo-image {
    width: 26rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo-image {
    width: 30rem;
  }
}
.footer__copyright {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 1.2rem, 18px);
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: clamp(18px, 1.8rem, 19px);
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-size: clamp(2rem, 2rem, 20px);
  }
}

.opening {
  position: fixed;
  width: 100%;
  height: 100svh;
  background-color: #dc3c36;
  z-index: 9999;
}
.opening__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18rem;
  aspect-ratio: 270/211;
  opacity: 0;
  z-index: 1;
}
.opening__logo path {
  fill: rgba(255, 255, 255, 0);
  stroke: #fff;
}
@media screen and (min-width: 768px) {
  .opening__logo {
    width: 27rem;
  }
}
.opening__shutter-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.opening__shutter-wrapper .shutter-outer {
  -webkit-transform-origin: center;
          transform-origin: center;
}
.opening__shutter-wrapper #shutter-outer-2 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.opening__shutter-wrapper #shutter-outer-3 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.opening__shutter-wrapper #shutter-outer-4 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.opening__shutter-wrapper #shutter-outer-5 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
.opening__shutter-wrapper #shutter-outer-6 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}
.opening__shutter-wrapper #shutter-outer-0 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}
.opening__shutter-wrapper .shutter-outer-wrapper {
  -webkit-clip-path: url(#left-rect-clip);
          clip-path: url(#left-rect-clip);
}
.opening__shutter-wrapper .shutter {
  fill: #6b6b6b;
  stroke: #443311;
  stroke-width: 4;
  -webkit-transform-origin: 50% -50%;
          transform-origin: 50% -50%;
  opacity: 0;
}

.fv {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;
  --border-opacity: 1;
}
.fv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #dc3c36;
  opacity: var(--border-opacity);
}
.fv__year-wrapper {
  position: absolute;
  top: 12.9rem;
  right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .fv__year-wrapper {
    top: 18.3rem;
    right: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .fv__year-wrapper {
    top: 11rem;
    right: 14rem;
  }
}
.fv__year-prefix {
  color: #dc3c36;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5rem, 100px);
}
@media screen and (min-width: 768px) {
  .fv__year-prefix {
    font-size: clamp(100px, 10rem, 120px);
  }
}
@media screen and (min-width: 1024px) {
  .fv__year-prefix {
    font-size: clamp(14rem, 14rem, 140px);
  }
}
.fv__year-suffix {
  color: #dc3c36;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 3rem, 60px);
}
@media screen and (min-width: 768px) {
  .fv__year-suffix {
    font-size: clamp(60px, 6rem, 65px);
  }
}
@media screen and (min-width: 1024px) {
  .fv__year-suffix {
    font-size: clamp(7rem, 7rem, 70px);
  }
}
.fv__year-text {
  color: #dc3c36;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 28px);
}
@media screen and (min-width: 768px) {
  .fv__year-text {
    font-size: clamp(28px, 2.8rem, 30px);
  }
}
@media screen and (min-width: 1024px) {
  .fv__year-text {
    font-size: clamp(3.5rem, 3.5rem, 35px);
  }
}
.fv__text {
  position: absolute;
  bottom: 2.4rem;
  right: 3rem;
  color: #fff;
  font-weight: 700;
  font-size: clamp(12px, 1.2rem, 20px);
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .fv__text {
    right: 4rem;
    bottom: 4rem;
    font-size: clamp(20px, 2rem, 22px);
  }
}
@media screen and (min-width: 1024px) {
  .fv__text {
    right: 14rem;
    bottom: 11rem;
    font-size: clamp(2.5rem, 2.5rem, 25px);
  }
}
.fv__anniversary-logo {
  width: 12rem;
  position: absolute;
  left: 3rem;
  bottom: 8rem;
}
@media screen and (min-width: 768px) {
  .fv__anniversary-logo {
    width: 24rem;
    left: 4rem;
    bottom: 16.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .fv__anniversary-logo {
    width: 27rem;
    left: 14rem;
    bottom: 11rem;
  }
}
.fv__scroll-line {
  position: absolute;
  bottom: 0;
  left: 3rem;
  width: 4px;
  height: 70px;
  border-radius: 100vmax;
  background-color: #dc3c36;
}
.fv__scroll-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 18px;
  aspect-ratio: 1;
  border-radius: 100vmax;
  background-color: #dc3c36;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: scroll-circle 2s ease-in-out infinite;
          animation: scroll-circle 2s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  .fv__scroll-line {
    left: 4rem;
    width: 6px;
    height: 12.8rem;
  }
  .fv__scroll-line::before {
    width: 26px;
  }
}
@media screen and (min-width: 1024px) {
  .fv__scroll-line {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 7rem;
  }
}
.fv__message-wrapper {
  padding: 0 3rem;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .fv__message-wrapper {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .fv__message-wrapper {
    padding: 0 14rem;
  }
}
.fv__message {
  font-size: clamp(15px, 1.5rem, 22px);
  line-height: 1.8;
  opacity: 0;
}
.fv__message .br-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .fv__message {
    font-size: clamp(22px, 2.2rem, 24px);
  }
}
@media screen and (min-width: 1024px) {
  .fv__message {
    text-align: center;
    font-size: 2.1rem;
    line-height: 2.3;
  }
  .fv__message .br-pc {
    display: block;
  }
}
.fv__circle-text-gray {
  max-width: none;
  width: 64rem;
  height: 64rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: rotate-right-text 60s linear infinite;
          animation: rotate-right-text 60s linear infinite;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  .fv__circle-text-gray {
    width: 99rem;
    height: 99rem;
  }
}
@media screen and (min-width: 1024px) {
  .fv__circle-text-gray {
    width: 107.7rem;
    height: 107.7rem;
  }
}
.fv__small-circle-wrapper {
  position: absolute;
}
.fv__small-circle-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 9%;
  aspect-ratio: 1;
  border-radius: 100vmax;
  background-color: #fff;
}
.fv__small-circle-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 30%;
  height: 2px;
  background-color: #fff;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: rotate-clock 60s steps(60) infinite;
          animation: rotate-clock 60s steps(60) infinite;
}
.fv__circle-text-white {
  position: absolute;
  width: 100%;
  -webkit-animation: rotate-left-text 60s linear infinite;
          animation: rotate-left-text 60s linear infinite;
}
.fv__bg-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.fv__bg-svg-path-1, .fv__bg-svg-path-2 {
  fill: #f6f5f4;
}
.fv__bg-svg-path-3, .fv__bg-svg-path-4 {
  fill: #dc3c36;
}
.fv__image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35rem;
  aspect-ratio: 1;
  border-radius: 100vmax;
  overflow: hidden;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  .fv__image-wrapper {
    width: 54rem;
  }
}
@media screen and (min-width: 1024px) {
  .fv__image-wrapper {
    width: 75rem;
  }
}
.fv__image {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.fv__image.js-actived {
  opacity: 1;
}

.history {
  margin-bottom: 10rem;
  height: 100vh;
  background-color: #dc3c36;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .history {
    margin-bottom: 36rem;
  }
}
.history__title-wrapper {
  position: absolute;
  top: 4rem;
  left: 3rem;
}
@media screen and (min-width: 768px) {
  .history__title-wrapper {
    top: 5.6rem;
    left: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .history__title-wrapper {
    top: 6%;
    left: 14rem;
  }
}
.history__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.8rem;
  margin-bottom: 3rem;
  margin-bottom: 1rem;
}
.history__title--en {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 3rem, 54px);
  letter-spacing: 0.02em;
}
.history__title--ja {
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 24px);
}
@media screen and (min-width: 768px) {
  .history__title {
    margin-bottom: 4rem;
    gap: 1.6rem;
  }
  .history__title--en {
    font-size: clamp(54px, 5.4rem, 64px);
  }
  .history__title--ja {
    font-size: clamp(24px, 2.4rem, 26px);
  }
}
@media screen and (min-width: 1024px) {
  .history__title {
    margin-bottom: 6.4rem;
  }
  .history__title--en {
    font-size: clamp(7.7rem, 7.7rem, 77px);
  }
  .history__title--ja {
    font-size: clamp(2.8rem, 2.8rem, 28px);
  }
}
.history__title--en {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .history__title {
    margin-bottom: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .history__title {
    margin-bottom: 2.4rem;
  }
}
.history__period {
  margin-bottom: 1rem;
  display: block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 2rem, 36px);
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .history__period {
    margin-bottom: 1.6rem;
    font-size: clamp(36px, 3.6rem, 46px);
  }
}
@media screen and (min-width: 1024px) {
  .history__period {
    margin-bottom: 2.4rem;
    font-size: clamp(5.6rem, 5.6rem, 56px);
  }
}
.history__sub-title {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 20px);
}
@media screen and (min-width: 768px) {
  .history__sub-title {
    font-size: clamp(20px, 2.2rem, 22px);
  }
}
@media screen and (min-width: 1024px) {
  .history__sub-title {
    font-size: clamp(2.2rem, 2.2rem, 22px);
  }
}
.history__progress-wrapper {
  width: 24rem;
  height: 5rem;
  position: absolute;
  top: 25%;
  left: 3rem;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translateY(-100%) rotate(90deg);
          transform: translateY(-100%) rotate(90deg);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: 2;
}
.history__progress-wrapper.js-actived {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .history__progress-wrapper {
    width: 40.8rem;
    height: 9.9rem;
    top: 22.5%;
    left: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .history__progress-wrapper {
    width: calc(100% - 28rem);
    height: auto;
    top: initial;
    bottom: 6%;
    left: 14rem;
    -webkit-transform: none;
            transform: none;
    overflow: visible;
  }
}
.history__progress-year-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 2.7rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.4rem;
  position: relative;
  --padding-adjustment: 0%;
}
@media screen and (min-width: 768px) {
  .history__progress-year-wrapper {
    padding: 0 4.2rem 2.8rem;
    gap: 9rem;
  }
}
@media screen and (min-width: 1024px) {
  .history__progress-year-wrapper {
    width: 100%;
    padding: 0 calc(var(--padding-adjustment) - 2.5rem) 1.6rem;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.history__progress-year {
  width: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.29);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 1.2rem, 20px);
  -webkit-transition: color 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: color 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: color 0.4s ease-out, transform 0.4s ease-out;
  transition: color 0.4s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  position: relative;
}
.history__progress-year::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, calc(100% + 0.4rem));
          transform: translate(-50%, calc(100% + 0.4rem));
  width: 1px;
  height: 0.8rem;
  background-color: rgba(255, 255, 255, 0.29);
}
@media screen and (min-width: 768px) {
  .history__progress-year {
    width: 5.5rem;
    font-size: clamp(20px, 2.2rem, 22px);
  }
  .history__progress-year::before {
    -webkit-transform: translate(-50%, calc(100% + 1.4rem));
            transform: translate(-50%, calc(100% + 1.4rem));
    height: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .history__progress-year {
    width: 5rem;
    font-size: clamp(2rem, 2rem, 20px);
  }
  .history__progress-year::before {
    -webkit-transform: translate(-50%, calc(100% + 0.2rem));
            transform: translate(-50%, calc(100% + 0.2rem));
  }
  .history__progress-year::after {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, calc(-100% - 1rem));
            transform: translate(-50%, calc(-100% - 1rem));
    color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
  }
  .history__progress-year.js-large {
    color: #fff;
    -webkit-transform: scale(1.8) translateY(-50%);
            transform: scale(1.8) translateY(-50%);
  }
  .history__progress-year.js-large::after {
    opacity: 1;
  }
}
.history__progress-bar {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.29);
  position: absolute;
  bottom: 0;
  left: 0;
}
.history__progress-active-bar {
  width: 0;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.history__progress-active-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 1.6rem;
  aspect-ratio: 1;
  border-radius: 100vmax;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .history__progress-active-bar {
    height: 5px;
  }
  .history__progress-active-bar::before {
    width: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .history__progress-active-bar {
    height: 3px;
  }
  .history__progress-active-bar::before {
    width: 2.2rem;
  }
}
.history__progress-title-wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  .history__progress-title-wrapper {
    display: none;
  }
}
.history__progress-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-weight: 700;
  font-size: clamp(11px, 1.1rem, 18px);
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .history__progress-title {
    font-size: clamp(18px, 1.8rem, 20px);
  }
}
@media screen and (min-width: 1024px) {
  .history__progress-title {
    display: none;
  }
}
.history__item-list {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: 1;
}
.history__item-list.js-actived {
  opacity: 1;
}
.history__item {
  position: absolute;
  width: 100%;
  height: 100%;
}
.history__item-year, .history__item-title {
  display: none;
}
.history__description-wrapper {
  padding: 0 3rem;
  position: absolute;
  top: 66%;
  left: 0;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .history__description-wrapper {
    padding: 0 4rem;
    top: 72%;
  }
}
@media screen and (min-width: 1024px) {
  .history__description-wrapper {
    padding: 0;
    width: 44.4rem;
    top: 50%;
    left: initial;
    right: 14rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.history__description {
  color: #fff;
  font-size: clamp(13px, 1.3rem, 20px);
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .history__description {
    font-size: clamp(20px, 2.4rem, 24px);
  }
}
@media screen and (min-width: 1024px) {
  .history__description {
    font-size: clamp(2.1rem, 2.1rem, 21px);
    line-height: 1.8;
  }
}
.history__number-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  .history__number-wrapper {
    top: 10%;
    left: 0;
    right: initial;
    -webkit-transform: none;
            transform: none;
  }
}
.history__number-prefix {
  color: rgba(255, 255, 255, 0.1);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(150px, 15rem, 200px);
}
@media screen and (min-width: 768px) {
  .history__number-prefix {
    font-size: clamp(200px, 20rem, 280px);
  }
}
@media screen and (min-width: 1024px) {
  .history__number-prefix {
    font-size: clamp(49rem, 49rem, 490px);
  }
  .history__number-prefix.small {
    font-size: clamp(38rem, 38rem, 380px);
  }
}
.history__number-suffix {
  color: rgba(255, 255, 255, 0.1);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(120px, 12rem, 150px);
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .history__number-suffix {
    font-size: clamp(150px, 15rem, 180px);
  }
}
@media screen and (min-width: 1024px) {
  .history__number-suffix {
    font-size: clamp(21rem, 21rem, 210px);
  }
  .history__number-suffix.small {
    font-size: clamp(19rem, 19rem, 190px);
  }
}
.history__image-wrapper {
  width: 22.5rem;
  aspect-ratio: 1;
  position: absolute;
  top: 22.5%;
  left: 27%;
  z-index: 1;
  --peseudo-rotate: "";
  --image-rotate: "";
}
.history__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #b52e29;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(var(--peseudo-rotate));
          transform: rotate(var(--peseudo-rotate));
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .history__image-wrapper {
    width: 40rem;
  }
}
@media screen and (min-width: 1024px) {
  .history__image-wrapper {
    width: 55rem;
    left: 33%;
  }
}
.history__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(var(--image-rotate));
          transform: rotate(var(--image-rotate));
}

.contents {
  margin-bottom: 10rem;
}
@media screen and (min-width: 1024px) {
  .contents {
    margin-bottom: 36rem;
  }
}
.contents__inner {
  padding: 0 3rem;
}
@media screen and (min-width: 768px) {
  .contents__inner {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .contents__inner {
    padding: 0 14rem;
  }
}
.contents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  margin-bottom: 3rem;
}
.contents__title--en {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 3rem, 54px);
  letter-spacing: 0.02em;
}
.contents__title--ja {
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 24px);
}
@media screen and (min-width: 768px) {
  .contents__title {
    margin-bottom: 4rem;
    gap: 1.6rem;
  }
  .contents__title--en {
    font-size: clamp(54px, 5.4rem, 64px);
  }
  .contents__title--ja {
    font-size: clamp(24px, 2.4rem, 26px);
  }
}
@media screen and (min-width: 1024px) {
  .contents__title {
    margin-bottom: 6.4rem;
  }
  .contents__title--en {
    font-size: clamp(7.7rem, 7.7rem, 77px);
  }
  .contents__title--ja {
    font-size: clamp(2.8rem, 2.8rem, 28px);
  }
}
.contents__text {
  margin-bottom: 3.5rem;
  font-size: clamp(15px, 1.5rem, 24px);
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .contents__text {
    margin-bottom: 4rem;
    font-size: clamp(22px, 2.2rem, 24px);
  }
}
@media screen and (min-width: 1024px) {
  .contents__text {
    margin-bottom: 8rem;
    font-size: clamp(2.1rem, 2.1rem, 21px);
    text-align: center;
  }
}
.contents__br-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .contents__br-pc {
    display: block;
  }
}
.contents__slide-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  counter-reset: list-number;
  overflow: hidden;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.contents__slide-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-clip-path: ellipse(100% 50vh at 50% 50%);
          clip-path: ellipse(100% 50vh at 50% 50%);
  background-color: #dc3c36;
}
@media screen and (min-width: 768px) {
  .contents__slide-wrapper::before {
    -webkit-clip-path: ellipse(80% 50vh at 50% 50%);
            clip-path: ellipse(80% 50vh at 50% 50%);
  }
}
@media screen and (min-width: 1024px) {
  .contents__slide-wrapper::before {
    -webkit-clip-path: ellipse(60% 50vh at 50% 50%);
            clip-path: ellipse(60% 50vh at 50% 50%);
  }
}
.contents__slide-list {
  width: calc(100% - 6rem);
  aspect-ratio: 315/465;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 1rem;
  -webkit-box-shadow: 10px 10px 0 0 #b52e29;
          box-shadow: 10px 10px 0 0 #b52e29;
  overflow: hidden;
  counter-increment: list-number;
  opacity: 0;
}
.contents__slide-list::before {
  content: "Vol." counter(list-number);
  padding: 1rem 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 1.2rem, 16px);
  background-color: #fff;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .contents__slide-list {
    width: calc(100% - 32rem);
  }
  .contents__slide-list::before {
    padding: 1.2rem 2.1rem;
    font-size: clamp(16px, 1.6rem, 22px);
  }
}
@media screen and (min-width: 1024px) {
  .contents__slide-list {
    width: calc(100% - 82rem);
    aspect-ratio: 1100/700;
  }
  .contents__slide-list::before {
    padding: 1.5rem 2.5rem;
    font-size: clamp(3rem, 3rem, 30px);
  }
}
.contents__slide-link {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.contents__slide-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(55%, transparent), to(#212121));
  background: linear-gradient(to bottom, transparent, transparent 55%, #212121);
  z-index: 2;
}
@media (any-hover: hover) {
  .contents__slide-link:hover .contents__slide-image {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  .contents__slide-link:hover .contents__button-wrapper::after {
    -webkit-animation: move-caret-right 0.3s ease-out forwards;
            animation: move-caret-right 0.3s ease-out forwards;
  }
  .contents__slide-link:hover .contents__button-svg .circle {
    stroke-dasharray: var(--circumference), var(--circumference);
  }
}
.contents__slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.contents__slide-title {
  width: calc(100% - 4.8rem);
  position: absolute;
  top: 66%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-weight: 700;
  font-size: clamp(13px, 1.3rem, 20px);
  line-height: 1.5;
  z-index: 3;
}
.contents__slide-title span {
  position: relative;
}
.contents__slide-title span::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -0.15em;
  left: 0;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .contents__slide-title {
    width: calc(100% - 8rem);
    font-size: clamp(20px, 2rem, 24px);
  }
}
@media screen and (min-width: 1024px) {
  .contents__slide-title {
    width: calc(100% - 49.6rem);
    font-size: clamp(2.4rem, 2.4rem, 24px);
  }
  .contents__slide-title span::before {
    height: 3px;
  }
}
.contents__button-wrapper {
  position: absolute;
  bottom: 2.4rem;
  right: 2.4rem;
  width: 4.8rem;
  aspect-ratio: 1;
  border-radius: 100vmax;
  background-color: rgba(255, 255, 255, 0.29);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.contents__button-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 66.6666666667%;
  aspect-ratio: 1;
  border-radius: 100vmax;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.contents__button-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.6rem;
  height: 0.8rem;
  background-image: url(../images/common/caret-right.svg);
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .contents__button-wrapper {
    bottom: 2.8rem;
    right: 4rem;
    width: 7.2rem;
  }
  .contents__button-wrapper::after {
    width: 0.9rem;
    height: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .contents__button-wrapper {
    bottom: 6.4rem;
    right: 6.4rem;
    width: 12rem;
  }
  .contents__button-wrapper::after {
    width: 1.5rem;
    height: 2rem;
  }
}
.contents__button-svg {
  width: 100%;
}
.contents__button-svg .circle {
  fill: none;
  stroke: #dc3c36;
  stroke-width: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  stroke-dasharray: 0, var(--circumference);
  -webkit-transition: stroke-dasharray 0.3s ease-out;
  transition: stroke-dasharray 0.3s ease-out;
  --circumference: calc(2 * pi * 4);
}

.events {
  margin-bottom: 10rem;
}
@media screen and (min-width: 1024px) {
  .events {
    margin-bottom: 36rem;
  }
}
.events__inner {
  padding: 0 3rem;
}
@media screen and (min-width: 768px) {
  .events__inner {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .events__inner {
    padding: 0 14rem;
  }
}
.events__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 0.8rem;
  margin-bottom: 3rem;
}
.events__title--en {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 3rem, 54px);
  letter-spacing: 0.02em;
}
.events__title--ja {
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 24px);
}
@media screen and (min-width: 768px) {
  .events__title {
    margin-bottom: 4rem;
    gap: 1.6rem;
  }
  .events__title--en {
    font-size: clamp(54px, 5.4rem, 64px);
  }
  .events__title--ja {
    font-size: clamp(24px, 2.4rem, 26px);
  }
}
@media screen and (min-width: 1024px) {
  .events__title {
    margin-bottom: 6.4rem;
  }
  .events__title--en {
    font-size: clamp(7.7rem, 7.7rem, 77px);
  }
  .events__title--ja {
    font-size: clamp(2.8rem, 2.8rem, 28px);
  }
}
@media screen and (min-width: 1024px) {
  .events__title-br {
    display: none;
  }
}
.events__slider-outer {
  width: 100%;
  height: 100svh;
  position: relative;
}
.events__slider-outer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: url(../images/events/events_bg-sp.svg) center center/cover;
}
@media screen and (min-width: 1024px) {
  .events__slider-outer::before {
    background: url(../images/events/events_bg-pc.svg) center center/cover;
  }
}
.events__slider {
  height: 100%;
}
.events__slide-item {
  height: 100%;
  display: grid;
  place-content: center;
}
.events__slide-link {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (any-hover: hover) {
  .events__slide-link:hover .events__slide-image {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}
@media screen and (min-width: 768px) {
  .events__slide-link {
    width: 60rem;
  }
}
@media screen and (min-width: 1024px) {
  .events__slide-link {
    width: 66.6rem;
  }
}
.events__slide-image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 3rem;
  border-radius: 100vmax;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .events__slide-image-wrapper {
    margin-bottom: 4rem;
  }
}
.events__slide-image {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.events__slide-label {
  margin-bottom: 1.2rem;
  padding: 0.5rem 1.5rem;
  background-color: #dc3c36;
  color: #fff;
  font-weight: 700;
  font-size: clamp(13px, 1.3rem, 20px);
}
@media screen and (min-width: 768px) {
  .events__slide-label {
    margin-bottom: 1.6rem;
    padding: 0.8rem 2.4rem;
    font-size: clamp(20px, 2rem, 24px);
  }
}
@media screen and (min-width: 1024px) {
  .events__slide-label {
    font-size: clamp(2.2rem, 2.2rem, 22px);
  }
}
.events__slide-period {
  margin-bottom: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 22px);
}
@media screen and (min-width: 768px) {
  .events__slide-period {
    margin-bottom: 1.6rem;
    font-size: clamp(22px, 2.2rem, 24px);
  }
}
@media screen and (min-width: 1024px) {
  .events__slide-period {
    font-size: clamp(2.4rem, 2.4rem, 24px);
  }
}
.events__slide-title {
  font-weight: 700;
  font-size: clamp(16px, 1.6rem, 24px);
  position: relative;
}
.events__slide-title::before {
  content: "";
  position: absolute;
  bottom: -0.25em;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #443311;
}
@media screen and (min-width: 768px) {
  .events__slide-title {
    font-size: clamp(24px, 2.4rem, 26px);
  }
}
@media screen and (min-width: 1024px) {
  .events__slide-title {
    font-size: clamp(2.6rem, 2.6rem, 26px);
  }
  .events__slide-title::before {
    height: 3px;
  }
}
.events__slider-button-prev, .events__slider-button-next {
  cursor: pointer;
  width: 6rem;
  aspect-ratio: 1;
  position: absolute;
  top: 43%;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.events__slider-button-prev.swiper-button-disabled, .events__slider-button-next.swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .events__slider-button-prev, .events__slider-button-next {
    width: 12rem;
  }
}
.events__slider-button-prev {
  left: 0.7rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (any-hover: hover) {
  .events__slider-button-prev:not(.swiper-button-disabled):hover .events__slider-button-prev-wrapper::after {
    -webkit-animation: move-caret-left 0.3s ease-out forwards;
            animation: move-caret-left 0.3s ease-out forwards;
  }
  .events__slider-button-prev:not(.swiper-button-disabled):hover .events__button-svg .circle {
    stroke-dasharray: var(--circumference), var(--circumference);
  }
}
@media screen and (min-width: 768px) {
  .events__slider-button-prev {
    left: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .events__slider-button-prev {
    left: 56.7rem;
  }
}
.events__slider-button-next {
  right: 0.7rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (any-hover: hover) {
  .events__slider-button-next:not(.swiper-button-disabled):hover .events__slider-button-next-wrapper::after {
    -webkit-animation: move-caret-right 0.3s ease-out forwards;
            animation: move-caret-right 0.3s ease-out forwards;
  }
  .events__slider-button-next:not(.swiper-button-disabled):hover .events__button-svg .circle {
    stroke-dasharray: var(--circumference), var(--circumference);
  }
}
@media screen and (min-width: 768px) {
  .events__slider-button-next {
    right: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .events__slider-button-next {
    right: 56.7rem;
  }
}
.events__slider-button-prev-wrapper, .events__slider-button-next-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100vmax;
  background-color: rgba(255, 255, 255, 0.29);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.events__slider-button-prev-wrapper::before, .events__slider-button-next-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 66.6666666667%;
  aspect-ratio: 1;
  border-radius: 100vmax;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.events__slider-button-prev-wrapper::after, .events__slider-button-next-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.8rem;
  height: 1rem;
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .events__slider-button-prev-wrapper::after, .events__slider-button-next-wrapper::after {
    width: 1.6rem;
    height: 2rem;
  }
}
.events__slider-button-prev-wrapper::after {
  background-image: url(../images/common/caret-left.svg);
}
.events__slider-button-next-wrapper::after {
  background-image: url(../images/common/caret-right.svg);
}
.events__button-svg {
  width: 100%;
}
.events__button-svg .circle {
  fill: none;
  stroke: #dc3c36;
  stroke-width: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  stroke-dasharray: 0, var(--circumference);
  -webkit-transition: stroke-dasharray 0.3s ease-out;
  transition: stroke-dasharray 0.3s ease-out;
  --circumference: calc(2 * pi * 4);
}

.posts {
  margin-bottom: 10rem;
}
@media screen and (min-width: 1024px) {
  .posts {
    margin-bottom: 36rem;
  }
}
.posts__inner {
  padding: 0 3rem;
}
@media screen and (min-width: 768px) {
  .posts__inner {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .posts__inner {
    padding: 0 14rem;
  }
}
.posts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  margin-bottom: 3rem;
}
.posts__title--en {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 3rem, 54px);
  letter-spacing: 0.02em;
}
.posts__title--ja {
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 24px);
}
@media screen and (min-width: 768px) {
  .posts__title {
    margin-bottom: 4rem;
    gap: 1.6rem;
  }
  .posts__title--en {
    font-size: clamp(54px, 5.4rem, 64px);
  }
  .posts__title--ja {
    font-size: clamp(24px, 2.4rem, 26px);
  }
}
@media screen and (min-width: 1024px) {
  .posts__title {
    margin-bottom: 6.4rem;
  }
  .posts__title--en {
    font-size: clamp(7.7rem, 7.7rem, 77px);
  }
  .posts__title--ja {
    font-size: clamp(2.8rem, 2.8rem, 28px);
  }
}
.posts__slider-right {
  margin-bottom: 0.4rem;
}
@media screen and (min-width: 768px) {
  .posts__slider-right {
    margin-bottom: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .posts__slider-right {
    margin-bottom: 1rem;
  }
}
.posts__slider-left {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .posts__slider-left {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .posts__slider-left {
    margin-bottom: 8rem;
  }
}
.posts__slider-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.posts__slide-image {
  -o-object-fit: cover;
     object-fit: cover;
}
.posts__link {
  margin-inline: auto;
  width: 31.5rem;
  aspect-ratio: 315/45;
  display: grid;
  place-content: center;
  border-radius: 100vmax;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: clamp(15px, 1.5rem, 22px);
  position: relative;
}
.posts__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2.4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.7rem;
  height: 0.9rem;
  background-image: url(../images/common/caret-right.svg);
  background-position: 0 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (any-hover: hover) {
  .posts__link:hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .posts__link:hover::after {
    -webkit-animation: move-caret-right 0.3s ease-out forwards;
            animation: move-caret-right 0.3s ease-out forwards;
  }
}
@media screen and (min-width: 768px) {
  .posts__link {
    width: 56rem;
    font-size: clamp(22px, 2.2rem, 24px);
  }
  .posts__link::after {
    right: 4rem;
    width: 1.4rem;
    height: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .posts__link {
    font-size: clamp(2.6rem, 2.6rem, 26px);
  }
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.fade.js-actived {
  opacity: 1;
}

.fade-up {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, box-shadow 0.3s ease-out;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.4s ease-out, -webkit-box-shadow 0.3s ease-out;
}
.fade-up.js-actived {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=style.css.map */