@use "../global" as *;

.fv {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  --border-opacity: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid $red;
    opacity: var(--border-opacity);
  }

  &__year-wrapper {
    position: absolute;
    top: 12.9rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tab {
      top: 18.3rem;
      right: 4rem;
    }

    @include pc {
      top: 110px;
      right: 140px;
    }
  }

  &__year-10th {
    color: $red;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(50px, 5rem, 100px);

    &--small {
      font-size: clamp(30px, 3rem, 60px);
    }

    @include tab {
      font-size: clamp(100px, 10rem, 120px);

      &--small {
        font-size: clamp(60px, 6rem, 65px);
      }
    }

    @include pc {
      font-size: clamp(120px, 14rem, 140px);

      &--small {
        font-size: clamp(65px, 7rem, 70px);
      }
    }
  }

  &__year-prefix {
    color: $red;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(50px, 5rem, 100px);

    @include tab {
      font-size: clamp(100px, 10rem, 120px);
    }

    @include pc {
      font-size: clamp(120px, 14rem, 140px);
    }
  }

  &__year-suffix {
    color: $red;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(30px, 3rem, 60px);

    @include tab {
      font-size: clamp(60px, 6rem, 65px);
    }

    @include pc {
      font-size: clamp(65px, 7rem, 70px);
    }
  }

  &__year-text {
    color: $red;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(14px, 1.4rem, 28px);

    @include tab {
      font-size: clamp(28px, 2.8rem, 30px);
    }

    @include pc {
      font-size: clamp(30px, 3.5rem, 35px);
    }
  }

  &__text {
    position: absolute;
    bottom: 2.4rem;
    right: 3rem;
    color: $white;
    font-size: clamp(12px, 1.2rem, 22px);
    line-height: 1.5;

    @include tab {
      right: 4rem;
      bottom: 4rem;
      font-size: clamp(22px, 2.2rem, 25px);
    }

    @include pc {
      right: 140px;
      bottom: 110px;
      font-size: 25px;
    }
  }

  &__anniversary-logo {
    width: 12rem;
    position: absolute;
    left: 3rem;
    bottom: 8rem;

    path {
      fill: $red;
    }

    @include tab {
      width: 24rem;
      left: 4rem;
      bottom: 18.6rem;
    }

    @include pc {
      width: 27rem;
      left: 140px;
      bottom: 110px;
    }
  }

  &__scroll-line {
    position: absolute;
    bottom: 0;
    left: 3rem;
    width: 4px;
    height: 70px;
    border-radius: 100vmax;
    background-color: $red;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 18px;
      aspect-ratio: 1;
      border-radius: 100vmax;
      background-color: $red;
      box-shadow: $shadow-black;
      animation: scroll-circle 2s ease-in-out infinite;
    }

    @include tab {
      left: 4rem;
      width: 6px;
      height: 128px;

      &::before {
        width: 26px;
      }
    }

    @include pc {
      left: 50%;
      transform: translateX(-50%);
      height: 100px;
    }
  }

  &__message-wrapper {
    @include section-inner;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__message {
    font-size: clamp(15px, 1.5rem, 28px);
    line-height: 1.8;
    opacity: 0;

    .br-pc {
      display: none;
    }

    @include tab {
      font-size: clamp(28px, 2.8rem, 34px);
    }

    @include pc {
      text-align: center;
      font-size: 21px;
      line-height: 2.3;

      .br-pc {
        display: block;
      }
    }
  }

  &__circle-text-gray {
    max-width: none;
    width: 64rem;
    height: 64rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: rotate-right-text 60s linear infinite;
    z-index: -2;

    @include tab {
      width: 102.2rem;
      height: 102.2rem;
    }

    @include pc {
      width: 107.7rem;
      height: 107.7rem;
    }
  }

  &__small-circle-wrapper {
    position: absolute;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9%;
      aspect-ratio: 1;
      border-radius: 100vmax;
      background-color: $white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0, -50%);
      width: 30%;
      height: 2px;
      background-color: $white;
      transform-origin: left;
      animation: rotate-clock 60s steps(60) infinite;
    }
  }

  &__circle-text-white {
    position: absolute;
    width: 100%;
    animation: rotate-left-text 60s linear infinite;
  }

  &__bg-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__bg-svg-path-1,
  &__bg-svg-path-2 {
    fill: $gray;
  }

  &__bg-svg-path-3,
  &__bg-svg-path-4 {
    fill: $red;
  }

  &__image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    aspect-ratio: 1;
    border-radius: 100vmax;
    overflow: hidden;
    z-index: -2;

    @include tab {
      width: 54rem;
    }

    @include pc {
      width: 860px;
    }
  }

  &__image {
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-out;

    &.js-showed {
      opacity: 1;
    }
  }
}

.history {
  height: 1000vh;
  background-color: $red;
}
