@use "../global" as *;

.opening {
  position: fixed;
  width: 100%;
  height: 100svh;
  background-color: $red;
  z-index: 9999;

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    aspect-ratio: 270 / 211;
    opacity: 0;
    z-index: 1;

    path {
      fill: #ffffff00;
      stroke: $white;
    }

    @include tab {
      width: 27rem;
    }
  }

  &__shutter-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    .shutter-outer {
      transform-origin: center;
    }

    @for $i from 2 through 6 {
      #shutter-outer-#{$i} {
        transform: rotate(60deg * ($i - 1));
      }
    }

    #shutter-outer-0 {
      transform: rotate(300deg);
    }

    .shutter-outer-wrapper {
      clip-path: url(#left-rect-clip);
    }

    .shutter {
      fill: $dark-gray;
      stroke: $black;
      stroke-width: 4;
      transform-origin: 50% -50%;
      opacity: 0;
    }
  }
}

.fv {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;
  --border-opacity: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid $red;
    opacity: var(--border-opacity);
  }

  &__year-wrapper {
    position: absolute;
    top: 12.9rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tab {
      top: 18.3rem;
      right: 4rem;
    }

    @include pc {
      top: 11rem;
      right: 14rem;
    }
  }

  &__year-prefix {
    color: $red;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(50px, 5rem, 100px);

    @include tab {
      font-size: clamp(100px, 10rem, 120px);
    }

    @include pc {
      font-size: clamp(14rem, 14rem, 140px);
    }
  }

  &__year-suffix {
    color: $red;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(30px, 3rem, 60px);

    @include tab {
      font-size: clamp(60px, 6rem, 65px);
    }

    @include pc {
      font-size: clamp(7rem, 7rem, 70px);
    }
  }

  &__year-text {
    color: $red;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(14px, 1.4rem, 28px);

    @include tab {
      font-size: clamp(28px, 2.8rem, 30px);
    }

    @include pc {
      font-size: clamp(3.5rem, 3.5rem, 35px);
    }
  }

  &__text {
    position: absolute;
    bottom: 2.4rem;
    right: 3rem;
    color: $white;
    font-weight: 700;
    font-size: clamp(12px, 1.2rem, 20px);
    line-height: 1.5;

    @include tab {
      right: 4rem;
      bottom: 4rem;
      font-size: clamp(20px, 2rem, 22px);
    }

    @include pc {
      right: 14rem;
      bottom: 11rem;
      font-size: clamp(2.5rem, 2.5rem, 25px);
    }
  }

  &__anniversary-logo {
    width: 12rem;
    position: absolute;
    left: 3rem;
    bottom: 8rem;

    @include tab {
      width: 24rem;
      left: 4rem;
      bottom: 16.6rem;
    }

    @include pc {
      width: 27rem;
      left: 14rem;
      bottom: 11rem;
    }
  }

  &__scroll-line {
    position: absolute;
    bottom: 0;
    left: 3rem;
    width: 4px;
    height: 70px;
    border-radius: 100vmax;
    background-color: $red;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 18px;
      aspect-ratio: 1;
      border-radius: 100vmax;
      background-color: $red;
      box-shadow: $shadow-black;
      animation: scroll-circle 2s ease-in-out infinite;
    }

    @include tab {
      left: 4rem;
      width: 6px;
      height: 12.8rem;

      &::before {
        width: 26px;
      }
    }

    @include pc {
      left: 50%;
      transform: translateX(-50%);
      height: 7rem;
    }
  }

  &__message-wrapper {
    @include section-inner;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__message {
    font-size: clamp(15px, 1.5rem, 22px);
    line-height: 1.8;
    opacity: 0;

    .br-pc {
      display: none;
    }

    @include tab {
      font-size: clamp(22px, 2.2rem, 24px);
    }

    @include pc {
      text-align: center;
      font-size: 2.1rem;
      line-height: 2.3;

      .br-pc {
        display: block;
      }
    }
  }

  &__circle-text-gray {
    max-width: none;
    width: 64rem;
    height: 64rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: rotate-right-text 60s linear infinite;
    z-index: -2;

    @include tab {
      width: 99rem;
      height: 99rem;
    }

    @include pc {
      width: 107.7rem;
      height: 107.7rem;
    }
  }

  &__small-circle-wrapper {
    position: absolute;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9%;
      aspect-ratio: 1;
      border-radius: 100vmax;
      background-color: $white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0, -50%);
      width: 30%;
      height: 2px;
      background-color: $white;
      transform-origin: left;
      animation: rotate-clock 60s steps(60) infinite;
    }
  }

  &__circle-text-white {
    position: absolute;
    width: 100%;
    animation: rotate-left-text 60s linear infinite;
  }

  &__bg-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__bg-svg-path-1,
  &__bg-svg-path-2 {
    fill: $gray;
  }

  &__bg-svg-path-3,
  &__bg-svg-path-4 {
    fill: $red;
  }

  &__image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    aspect-ratio: 1;
    border-radius: 100vmax;
    overflow: hidden;
    z-index: -2;

    @include tab {
      width: 54rem;
    }

    @include pc {
      width: 75rem;
    }
  }

  &__image {
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-out;

    &.js-actived {
      opacity: 1;
    }
  }
}

.history {
  @include section-margin;
  height: 100vh;
  background-color: $red;
  position: relative;
  overflow: hidden;

  &__title-wrapper {
    position: absolute;
    top: 4rem;
    left: 3rem;

    @include tab {
      top: 5.6rem;
      left: 4rem;
    }

    @include pc {
      top: 6%;
      left: 14rem;
    }
  }

  &__title {
    @include section-title(flex-start);
    margin-bottom: 1rem;

    &--en {
      color: $white;
    }

    @include tab {
      margin-bottom: 1.6rem;
    }

    @include pc {
      margin-bottom: 2.4rem;
    }
  }

  &__period {
    margin-bottom: 1rem;
    display: block;
    color: $white;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(20px, 2rem, 36px);
    letter-spacing: 0.02em;

    @include tab {
      margin-bottom: 1.6rem;
      font-size: clamp(36px, 3.6rem, 46px);
    }

    @include pc {
      margin-bottom: 2.4rem;
      font-size: clamp(5.6rem, 5.6rem, 56px);
    }
  }

  &__sub-title {
    display: block;
    color: $white;
    font-weight: 700;
    font-size: clamp(14px, 1.4rem, 20px);

    @include tab {
      font-size: clamp(20px, 2.2rem, 22px);
    }

    @include pc {
      font-size: clamp(2.2rem, 2.2rem, 22px);
    }
  }

  &__progress-wrapper {
    width: 24rem;
    height: 5rem;
    position: absolute;
    top: 25%;
    left: 3rem;
    transform-origin: left bottom;
    transform: translateY(-100%) rotate(90deg);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: 2;

    &.js-actived {
      opacity: 1;
    }

    @include tab {
      width: 40.8rem;
      height: 9.9rem;
      top: 22.5%;
      left: 4rem;
    }

    @include pc {
      width: calc(100% - 28rem);
      height: auto;
      top: initial;
      bottom: 6%;
      left: 14rem;
      transform: none;
      overflow: visible;
    }
  }

  &__progress-year-wrapper {
    width: fit-content;
    padding: 0 2.7rem 1.2rem;
    display: flex;
    gap: 5.4rem;
    position: relative;
    --padding-adjustment: 0%;

    @include tab {
      padding: 0 4.2rem 2.8rem;
      gap: 9rem;
    }

    @include pc {
      width: 100%;
      padding: 0 calc(var(--padding-adjustment) - 2.5rem) 1.6rem;
      gap: 0;
      justify-content: space-between;
    }
  }

  &__progress-year {
    width: 3rem;
    text-align: center;
    color: $light-white;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(12px, 1.2rem, 20px);
    transition:
      color 0.4s ease-out,
      transform 0.4s ease-out;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, calc(100% + 0.4rem));
      width: 1px;
      height: 0.8rem;
      background-color: $light-white;
    }

    @include tab {
      width: 5.5rem;
      font-size: clamp(20px, 2.2rem, 22px);

      &::before {
        transform: translate(-50%, calc(100% + 1.4rem));
        height: 1.4rem;
      }
    }

    @include pc {
      width: 5rem;
      font-size: clamp(2rem, 2rem, 20px);

      &::before {
        transform: translate(-50%, calc(100% + 0.2rem));
      }

      &::after {
        content: attr(data-title);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% - 1rem));
        color: $white;
        font-family: $noto-sans;
        font-weight: 700;
        font-size: 1.1rem;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.4s ease-out;
      }

      &.js-large {
        color: $white;
        transform: scale(1.8) translateY(-50%);

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__progress-bar {
    width: 100%;
    height: 1px;
    background-color: $light-white;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__progress-active-bar {
    width: 0;
    height: 3px;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      width: 1.6rem;
      aspect-ratio: 1;
      border-radius: 100vmax;
      background-color: $white;
      box-shadow: $shadow-black;
    }

    @include tab {
      height: 5px;

      &::before {
        width: 3rem;
      }
    }

    @include pc {
      height: 3px;

      &::before {
        width: 2.2rem;
      }
    }
  }

  &__progress-title-wrapper {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    @include pc {
      display: none;
    }
  }

  &__progress-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-weight: 700;
    font-size: clamp(11px, 1.1rem, 18px);
    white-space: nowrap;

    @include tab {
      font-size: clamp(18px, 1.8rem, 20px);
    }

    @include pc {
      display: none;
    }
  }

  &__item-list {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: 1;

    &.js-actived {
      opacity: 1;
    }
  }

  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__item-year,
  &__item-title {
    display: none;
  }

  &__description-wrapper {
    padding: 0 3rem;
    position: absolute;
    top: 66%;
    left: 0;
    opacity: 0;

    @include tab {
      padding: 0 4rem;
      top: 72%;
    }

    @include pc {
      padding: 0;
      width: 44.4rem;
      top: 50%;
      left: initial;
      right: 14rem;
      transform: translateY(-50%);
    }
  }

  &__description {
    color: $white;
    font-size: clamp(13px, 1.3rem, 20px);
    line-height: 1.5;

    @include tab {
      font-size: clamp(20px, 2.4rem, 24px);
    }

    @include pc {
      font-size: clamp(2.1rem, 2.1rem, 21px);
      line-height: 1.8;
    }
  }

  &__number-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;

    @include pc {
      top: 10%;
      left: 0;
      right: initial;
      transform: none;
    }
  }

  &__number-prefix {
    color: $light-white-2;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(150px, 15rem, 200px);

    @include tab {
      font-size: clamp(200px, 20rem, 280px);
    }

    @include pc {
      font-size: clamp(49rem, 49rem, 490px);

      &.small {
        font-size: clamp(38rem, 38rem, 380px);
      }
    }
  }

  &__number-suffix {
    color: $light-white-2;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(120px, 12rem, 150px);
    letter-spacing: 0.02em;

    @include tab {
      font-size: clamp(150px, 15rem, 180px);
    }

    @include pc {
      font-size: clamp(21rem, 21rem, 210px);

      &.small {
        font-size: clamp(19rem, 19rem, 190px);
      }
    }
  }

  &__image-wrapper {
    width: 22.5rem;
    aspect-ratio: 1;
    position: absolute;
    top: 22.5%;
    left: 27%;
    z-index: 1;
    --peseudo-rotate: "";
    --image-rotate: "";

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: $dark-red;
      box-shadow: $shadow-black;
      transform: rotate(var(--peseudo-rotate));
      z-index: -1;
    }

    @include tab {
      width: 40rem;
    }

    @include pc {
      width: 55rem;
      left: 33%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: $shadow-black;
    transform: rotate(var(--image-rotate));
  }
}

.contents {
  @include section-margin;
  $parent: &;

  &__inner {
    @include section-inner;
  }

  &__title {
    @include section-title;
  }

  &__text {
    margin-bottom: 3.5rem;
    font-size: clamp(15px, 1.5rem, 24px);
    line-height: 1.8;

    @include tab {
      margin-bottom: 4rem;
      font-size: clamp(22px, 2.2rem, 24px);
    }

    @include pc {
      margin-bottom: 8rem;
      font-size: clamp(2.1rem, 2.1rem, 21px);
      text-align: center;
    }
  }

  &__br-pc {
    display: none;

    @include pc {
      display: block;
    }
  }

  &__slide-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    counter-reset: list-number;
    overflow: hidden;
    perspective: 2000px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      clip-path: ellipse(100% 50vh at 50% 50%);
      background-color: $red;
    }

    @include tab {
      &::before {
        clip-path: ellipse(80% 50vh at 50% 50%);
      }
    }

    @include pc {
      &::before {
        clip-path: ellipse(60% 50vh at 50% 50%);
      }
    }
  }

  &__slide-list {
    width: calc(100% - 6rem);
    aspect-ratio: 315 / 465;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    box-shadow: $shadow-red;
    overflow: hidden;
    counter-increment: list-number;
    opacity: 0;

    &::before {
      content: "Vol." counter(list-number);
      padding: 1rem 1.6rem;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: left top;
      transform: rotate(90deg) translateY(-100%);
      font-family: $poppins;
      font-weight: 700;
      font-size: clamp(12px, 1.2rem, 16px);
      background-color: $white;
      z-index: 2;
    }

    @include tab {
      width: calc(100% - 32rem);

      &::before {
        padding: 1.2rem 2.1rem;
        font-size: clamp(16px, 1.6rem, 22px);
      }
    }

    @include pc {
      width: calc(100% - 82rem);
      aspect-ratio: 1100 / 700;

      &::before {
        padding: 1.5rem 2.5rem;
        font-size: clamp(3rem, 3rem, 30px);
      }
    }
  }

  &__slide-link {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $image-mask;
      z-index: 2;
    }

    @include hover {
      #{$parent}__slide-image {
        transform: scale(1.08);
      }

      #{$parent}__button-wrapper::after {
        animation: move-caret-right 0.3s ease-out forwards;
      }

      #{$parent}__button-svg .circle {
        stroke-dasharray: var(--circumference), var(--circumference);
      }
    }
  }

  &__slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.3s ease-out;
  }

  &__slide-title {
    width: calc(100% - 4.8rem);
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-weight: 700;
    font-size: clamp(13px, 1.3rem, 20px);
    line-height: 1.5;
    z-index: 3;

    span {
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -0.15em;
        left: 0;
        background-color: $white;
      }
    }

    @include tab {
      width: calc(100% - 8rem);
      font-size: clamp(20px, 2rem, 24px);
    }

    @include pc {
      width: calc(100% - 49.6rem);
      font-size: clamp(2.4rem, 2.4rem, 24px);

      span {
        &::before {
          height: 3px;
        }
      }
    }
  }

  &__button-wrapper {
    position: absolute;
    bottom: 2.4rem;
    right: 2.4rem;
    width: 4.8rem;
    aspect-ratio: 1;
    border-radius: 100vmax;
    background-color: $light-white;
    box-shadow: $shadow-black;
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% / 3 * 2);
      aspect-ratio: 1;
      border-radius: 100vmax;
      background-color: $white;
      box-shadow: $shadow-black;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.6rem;
      height: 0.8rem;
      background-image: url(../images/common/caret-right.svg);
      background-size: cover;
      background-position: 0 50%;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    @include tab {
      bottom: 2.8rem;
      right: 4rem;
      width: 7.2rem;

      &::after {
        width: 0.9rem;
        height: 1.2rem;
      }
    }

    @include pc {
      bottom: 6.4rem;
      right: 6.4rem;
      width: 12rem;

      &::after {
        width: 1.5rem;
        height: 2rem;
      }
    }
  }

  &__button-svg {
    width: 100%;

    .circle {
      fill: none;
      stroke: $red;
      stroke-width: 2;
      transform-origin: center;
      transform: rotate(-90deg);
      stroke-dasharray: 0, var(--circumference);
      transition: stroke-dasharray 0.3s ease-out;
      --circumference: calc(2 * pi * 4);
    }
  }
}

.events {
  @include section-margin;
  $parent: &;

  &__inner {
    @include section-inner;
  }

  &__title {
    @include section-title(left);
  }

  &__title-br {
    @include pc {
      display: none;
    }
  }

  &__slider-outer {
    width: 100%;
    height: 100svh;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      background: url(../images/events/events_bg-sp.svg) center center / cover;
    }

    @include tab {
      &::before {
      }
    }

    @include pc {
      &::before {
        background: url(../images/events/events_bg-pc.svg) center center / cover;
      }
    }
  }

  &__slider {
    height: 100%;
  }

  &__slide-item {
    height: 100%;
    display: grid;
    place-content: center;
  }

  &__slide-link {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include hover {
      #{$parent}__slide-image {
        transform: scale(1.08);
      }
    }

    @include tab {
      width: 60rem;
    }

    @include pc {
      width: 66.6rem;
    }
  }

  &__slide-image-wrapper {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 3rem;
    border-radius: 100vmax;
    overflow: hidden;

    @include tab {
      margin-bottom: 4rem;
    }
  }

  &__slide-image {
    object-fit: cover;
    transition: transform 0.3s ease-out;
  }

  &__slide-label {
    margin-bottom: 1.2rem;
    padding: 0.5rem 1.5rem;
    background-color: $red;
    color: $white;
    font-weight: 700;
    font-size: clamp(13px, 1.3rem, 20px);

    @include tab {
      margin-bottom: 1.6rem;
      padding: 0.8rem 2.4rem;
      font-size: clamp(20px, 2rem, 24px);
    }

    @include pc {
      font-size: clamp(2.2rem, 2.2rem, 22px);
    }
  }

  &__slide-period {
    margin-bottom: 1.2rem;
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(14px, 1.4rem, 22px);

    @include tab {
      margin-bottom: 1.6rem;
      font-size: clamp(22px, 2.2rem, 24px);
    }

    @include pc {
      font-size: clamp(2.4rem, 2.4rem, 24px);
    }
  }

  &__slide-title {
    font-weight: 700;
    font-size: clamp(16px, 1.6rem, 24px);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -0.25em;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
    }

    @include tab {
      font-size: clamp(24px, 2.4rem, 26px);
    }

    @include pc {
      font-size: clamp(2.6rem, 2.6rem, 26px);

      &::before {
        height: 3px;
      }
    }
  }

  &__slider-button-prev,
  &__slider-button-next {
    cursor: pointer;
    width: 6rem;
    aspect-ratio: 1;
    position: absolute;
    top: 43%;
    z-index: 1;
    transition: opacity 0.3s ease-out;

    &.swiper-button-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    @include tab {
      width: 12rem;
    }
  }

  &__slider-button-prev {
    left: 0.7rem;
    transform: translate(0, -50%);

    &:not(.swiper-button-disabled) {
      @include hover {
        #{$parent}__slider-button-prev-wrapper {
          &::after {
            animation: move-caret-left 0.3s ease-out forwards;
          }
        }

        #{$parent}__button-svg .circle {
          stroke-dasharray: var(--circumference), var(--circumference);
        }
      }
    }

    @include tab {
      left: 2.4rem;
    }

    @include pc {
      left: 56.7rem;
    }
  }

  &__slider-button-next {
    right: 0.7rem;
    transform: translate(0, -50%);

    &:not(.swiper-button-disabled) {
      @include hover {
        #{$parent}__slider-button-next-wrapper {
          &::after {
            animation: move-caret-right 0.3s ease-out forwards;
          }
        }

        #{$parent}__button-svg .circle {
          stroke-dasharray: var(--circumference), var(--circumference);
        }
      }
    }

    @include tab {
      right: 2.4rem;
    }

    @include pc {
      right: 56.7rem;
    }
  }

  &__slider-button-prev-wrapper,
  &__slider-button-next-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100vmax;
    background-color: $light-white;
    box-shadow: $shadow-black;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% / 3 * 2);
      aspect-ratio: 1;
      border-radius: 100vmax;
      background-color: $white;
      box-shadow: $shadow-black;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.8rem;
      height: 1rem;
      background-size: cover;
      background-position: 0 50%;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    @include tab {
      &::after {
        width: 1.6rem;
        height: 2rem;
      }
    }
  }

  &__slider-button-prev-wrapper {
    &::after {
      background-image: url(../images/common/caret-left.svg);
    }
  }

  &__slider-button-next-wrapper {
    &::after {
      background-image: url(../images/common/caret-right.svg);
    }
  }

  &__button-svg {
    width: 100%;

    .circle {
      fill: none;
      stroke: $red;
      stroke-width: 2;
      transform-origin: center;
      transform: rotate(-90deg);
      stroke-dasharray: 0, var(--circumference);
      transition: stroke-dasharray 0.3s ease-out;
      --circumference: calc(2 * pi * 4);
    }
  }
}

.posts {
  @include section-margin;

  &__inner {
    @include section-inner;
  }

  &__title {
    @include section-title;
  }

  &__slider-right {
    margin-bottom: 0.4rem;

    @include tab {
      margin-bottom: 0.8rem;
    }

    @include pc {
      margin-bottom: 1rem;
    }
  }

  &__slider-left {
    margin-bottom: 3rem;

    @include tab {
      margin-bottom: 5rem;
    }

    @include pc {
      margin-bottom: 8rem;
    }
  }

  &__slider-wrapper {
    transition-timing-function: linear;
  }

  &__slide-image {
    object-fit: cover;
  }

  &__link {
    margin-inline: auto;
    width: 31.5rem;
    aspect-ratio: 315 / 45;
    display: grid;
    place-content: center;
    border-radius: 100vmax;
    box-shadow: $shadow-black;
    font-weight: 700;
    font-size: clamp(15px, 1.5rem, 22px);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 2.4rem;
      transform: translateY(-50%);
      width: 0.7rem;
      height: 0.9rem;
      background-image: url(../images/common/caret-right.svg);
      background-position: 0 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include hover {
      box-shadow: $shadow-black-hover;

      &::after {
        animation: move-caret-right 0.3s ease-out forwards;
      }
    }

    @include tab {
      width: 56rem;
      font-size: clamp(22px, 2.2rem, 24px);

      &::after {
        right: 4rem;
        width: 1.4rem;
        height: 1.8rem;
      }
    }

    @include pc {
      font-size: clamp(2.6rem, 2.6rem, 26px);
    }
  }
}
