@use "../global" as *;

.fv {
  width: 100%;
  height: 100vh;

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__path-1,
  &__path-2 {
    fill: $gray;
  }

  &__path-3,
  &__path-4 {
    fill: $red;
  }

  &__message-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__message {
    padding: 0 30px;
    font-size: clamp(15px, 1.5rem, 28px);
    line-height: 1.8;
    opacity: 0;

    .br-pc {
      display: none;
    }

    @include tab {
      padding: 0 40px;
      font-size: clamp(28px, 2.8rem, 34px);
    }

    @include pc {
      padding: 0;
      text-align: center;
      font-size: 21px;
      line-height: 2.3;

      .br-pc {
        display: block;
      }
    }
  }
}

.history {
  height: 100vh;
  background-color: $red;
}
