@use "../setting" as *;

//タブレット用メディアクエリ
@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

//PC用メディアクエリ
@mixin pc {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//PC Large用メディアクエリ
@mixin pc-large {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin section-inner {
  padding: 0 3rem;

  @include tab {
    padding: 0 4rem;
  }

  @include pc {
    padding: 0 14rem;
  }
}

@mixin section-margin {
  margin-bottom: 10rem;

  @include pc {
    margin-bottom: 36rem;
  }
}

@mixin section-title($align: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  gap: 0.8rem;
  margin-bottom: 3rem;

  &--en {
    font-family: $poppins;
    font-weight: 700;
    font-size: clamp(30px, 3rem, 54px);
    letter-spacing: 0.02em;
  }

  &--ja {
    font-weight: 700;
    font-size: clamp(14px, 1.4rem, 24px);
  }

  @include tab {
    margin-bottom: 4rem;
    gap: 1.6rem;

    &--en {
      font-size: clamp(54px, 5.4rem, 64px);
    }

    &--ja {
      font-size: clamp(24px, 2.4rem, 26px);
    }
  }

  @include pc {
    margin-bottom: 6.4rem;

    &--en {
      font-size: clamp(64px, 7.7rem, 77px);
    }

    &--ja {
      font-size: clamp(26px, 2.8rem, 28px);
    }
  }
}
