$black: #443311;
$white: #fff;
$light-white: rgba(255, 255, 255, 0.29);
$light-white-2: rgba(255, 255, 255, 0.1);
$gray: #f6f5f4;
$red: #dc3c36;
$dark-red: #b52e29;
$shadow-black: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
$shadow-black-hover: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
$shadow-red: 10px 10px 0 0 #b52e29;
$image-mask: linear-gradient(to bottom, transparent, transparent 55%, #212121);
